{% extends 'snapapp/base.html' %}

{% block title %} Home page {% endblock title %}

{% block content %}
<div class="index_container">
    <h1>Welcome</h1>

    <h3>This is a Completely Anonymous Chat app. No Data is saved. Everything is lost when u leave the room</h3>

    <h3>U can join/create any Chatroom on the chat page. You can send any format of file in the chat</h3>

    <h3>To create a private room via the chat page.</h3>

    <a href="https://github.com/Darshan2923/Django_Projects">
        <h3>Source Code</h3>
    </a>
</div>
{% endblock content %}